/* src/app/components/AppHeader.module.css */
.appHeader {
    background-color: #ffffff;
    /*border-bottom: 1px solid #474545;*/
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navList {
    list-style: circle;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: right; 
}